NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://localhost:27017/task_management
JWT_ACCESS_SECRET=replace-with-strong-access-secret
JWT_REFRESH_SECRET=replace-with-strong-refresh-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
RESEND_API_KEY=replace-with-resend-api-key
CRON_SCHEDULE="0 * * * *" # Run every hour at minute 0 (Untuk mengirim email reminder)
# CRON_SCHEDULE="* * * * *" # Run every minute